.nav a {
  color: black;
  font-size: 17px;
  text-transform: uppercase;
  max-width: 115;
  text-align: center;
}

.nav li {
  display: inline;
}

.nav {
  color: inherit;
  background-color: #B2B8B8;
  margin-bottom: 10px;
}

.jumbotron {
	text-align: center;
}

.col-md-3  {
	text-align: center;
}

.row {
	margin-left: 20px;
	margin-right: 20px;
}

.openmenu {
	max-width: 125px;
	font-size: 10px;
}

.about {
	text-align: center;
	margin-right: 500px;
	margin-left: 500px;
}
	
