.nav a {
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  max-width: 98px;
  max-height: 41px;
  text-align: center;
  margin-left: 10px;
}

.nav li {
  display: inline;
}

.nav {
  color: inherit;
  background-color: #B2B8B8;
  margin-bottom: 10px;
}

.jumbotron {
	text-align: center;
}

.col-md-3  {
	text-align: center;
}

.row {
	margin-left: 20px;
	margin-right: 20px;
}

.about {
	text-align: center;
	margin-right: 25%;
	margin-left: 25%;
}
	
