.nav a {
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  max-width: 98px;
  max-height: 41px;
  text-align: center;
  margin-left: 10px;
}

.nav li {
  display: inline;
}

.nav {
  color: inherit;
  background-color: #B2B8B8;
  margin-bottom: 10px;
}

.text-center {
	margin-left: 15%;
	margin-right: 15%;
}

